<div id="<%= dom_id message %>">
  <p class="my-5">
    (User: <%= message.user.email.split('@').first %>)
    <strong class="block font-medium mb-1">Content:</strong>
    <%= message.content %>
  </p>
</div>
